html {
    scroll-behavior: smooth;
}

body{
    background-color: rgb(193, 208, 209);
}

.navbar{
    background-color: rgb(82, 190, 156);
    position: fixed;
    height: 40px;
    top: 0px;
    left: 0px;
    width: 100%;
    margin-left: 0px;
}

.navbar a{
    color: white;
    text-decoration: none;
}

table, th, td{
    text-align: center;
    border: 1px solid gray;
    border-collapse: collapse;
}

.books{
    border: 2px solid black;
    border-radius: 10px;
    background-color: chocolate;
    padding: 25px;
    background-color: rgb(129, 175, 133);
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 20px;
}

.form{
    border: 2px solid black;
    border-radius: 10px;
    margin-top: 30px;
    padding: 20px;
    background-color: rgb(129, 175, 133);
    margin-left: 20%;
    margin-right: 20%;
}

.box{
    background-color: rgb(247, 239, 232);
    width: 100%;
    height: 25px;
}

.navigation{
    display: flex;
    justify-content: space-between;
}

.links{
    display: flex;
}

.links a,.logo{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
}

.table1{
    width: 100%;
    background-color: rgb(194, 241, 226);
}

.table1 thead{
    background-color: rgb(8, 88, 88);
    font-size: 18px;
}

.table2{
    width: 90%;
    margin: auto;
}

.book-title{
    margin-left: 10px;
}

input,label{
    margin: 10px 0px;
}

.boxRegister{
    width: 100%;
    height: 30px;
    font-size: 17px;
    color: antiquewhite;
    background-color: rgb(8, 88, 88);
}

.details{
    font-size: 16px;;
}